# Vercel Link
VERCEL_OIDC_TOKEN=""

# Booking
EMAIL=
EMAIL_FROM=
RESEND_API_KEY=
BLOB_READ_WRITE_TOKEN=

# Booking (Local)
VITE_BOOKING_LOCALHOST= #true/false
VITE_BOOKING_EARLY_ACCESS_LOCALHOST= #true/false