@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

/* Global */
:root {
  --font-size: 1.1em;
  --input-font-size: 1em;
  --checkbox-size: 1.4;
  --error-color: rgb(226, 46, 46);
}

* {
  font-family: "DM sans", sans-serif;
}

/* ---------------------- 
         Mainpage
   ----------------------  */
body {
  background-repeat: no-repeat;
  background-position: center;
}

/* Root Div */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* Logo Image */
img.logo-img {
  margin-top: 2em;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  width: 150px;
}

button {
  width: 250px;
  text-align: center;
  background-color: white;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  padding: 15px 30px;
  transition: all 0.5s;
  touch-action: manipulation;
  font-family: "DM sans", sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
}

button:link {
  color: black;
}

button:hover {
  background-color: #fad9f5;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transform: scale(1.1);
}

div.button-div {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

/* ---------------------- 
         Aftercare 
   ----------------------  */
div.main-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

strong {
  font-weight: 1000;
}

p {
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.5;
}

li {
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.headings,
h1 {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

ul {
  padding-left: 1em;
}

.page-name {
  font-family: "DM sans", sans-serif;
  font-size: 30px;
  color: #000000;
  font-weight: normal;
  line-height: 1.4em;
  text-align: center;
  font-weight: 600;
}

/* ---------------------- 
         Booking 
   ----------------------  */
.booking-label {
  font-weight: 600;
  font-size: var(--font-size);
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.booking-inputs {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.booking-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 20vw; */
  width: 100%;
}

input {
  border-radius: 10px;
  padding: 7px;
  border: 1px solid white;
  width: 100%;
  font-size: var(--input-font-size);
}

#reference-files {
  background-color: white;
  width: 97%;
}

.required {
  color: fuchsia;
}

select {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: var(--input-font-size);
}

textarea {
  resize: none;
  width: 100%;
  font-size: var(--input-font-size);
  border: 1px solid white;
  border-radius: 10px;
}

#availability-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.availability-label {
  font-weight: 600;
  font-size: var(--input-font-size);
  padding: 10px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(var(--checkbox-size)); /* IE */
  -moz-transform: scale(var(--checkbox-size)); /* FF */
  -webkit-transform: scale(var(--checkbox-size)); /* Safari and Chrome */
  -o-transform: scale(var(--checkbox-size)); /* Opera */
  transform: scale(var(--checkbox-size));
  cursor: pointer;
}

/* Booking - Buttons */
.booking-button-div {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.booking-button-div > button {
  width: 120px;
}

/* FILE INPUT */
.error {
  border: 2px solid var(--error-color);
}

.error-message {
  font-size: 1em;
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--error-color);
}

/* BOOKING POLICY */
#content-div {
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  width: 80vw;
  border-radius: 10px;
}

.booking-policy-input {
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  align-items: center;
}

#booking-policy-checkbox {
  width: 15px;
  margin-right: 20px;
}

.policy-link {
  cursor: pointer;
  color: rgb(0, 17, 255);
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.spinner-img {
  width: 40px;
}

/* ---------------------- 
        CONSENT FORM 
   ----------------------  */

.consent-label {
  font-weight: 600;
  font-size: var(--font-size);
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.consent-inputs {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.consent-inputs input[type="date"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer; /* Ensures it's clear the input is interactive */
  box-sizing: border-box;
}

.consent-inputs input[type="date"]:focus {
  border-color: #4a90e2;
  outline: none;
}

.consent-inputs input[type="file"] {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}

.consent-paragraph {
  width: 100%;
  box-sizing: border-box;
}

.consent-div {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  gap: 10px; /* Adds consistent spacing */
}

.consent-paragraph {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.consent-form-page {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: none;
}

/* DESKTOP CONSENT DIV */
@media (min-width: 768px) {
  .consent-form-page {
    width: 40%;
  }
}

/* Questionaire */

.radio-button-div {
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.radio-group {
  display: flex;
  gap: 5rem;
}

.radio-button-div label {
  display: flex;
  align-items: center;
}

.checkbox-div {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.checkbox-div label {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 1;
}

.checkbox-div input[type="checkbox"] {
  margin: 0;
  width: 20px;
  height: 20px;
}

.consent-inputs li {
  padding: 5px;
}

.consent-inputs canvas {
  width: 100%;
  height: 100%;
}

.signature-div {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  position: relative; /* Ensure the canvas and button are correctly positioned */
}

/** SIGNATURE AREA */
.signature-pad {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

@media (pointer: coarse) {
  .signature-div {
    overflow: hidden; /** Needed to prevent the vertical scroll on touch devices */
  }
}

.clear-button-div p {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 40px;
}

.clear-button {
  font-size: 1.2rem;
  text-align: center;
}

.submit-button-div {
  display: flex;
  justify-content: center;
}

.error-div {
  display: flex;
  color: red;
  margin-bottom: 20px;
}

.radio-button-div input,
label {
  cursor: pointer;
}
