name: Run Tests

on:
  push:
    branches:
      - main
      # - release/*
      # - feature/*

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      HYPERTUNE_API_KEY: ${{ secrets.HYPERTUNE_ADMIN_TOKEN }}
      VITE_HYPERTUNE_TOKEN: ${{ secrets.HYPERTUNE_MAIN_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Generate Hypertune Client
        run: npx hypertune

      - name: Install Playwright Chromium Browser
        run: npx playwright install --with-deps chromium

      - name: Setup LocalHost
        run: |
          nohup npm run dev &
          npx wait-on http://localhost:5173

      - name: Run Playwright tests
        run: npx playwright test --project=chromium
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
